<!doctype html>
<html>
<head>
<title> Defender 300 tdi</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
<head>
<body>
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="home">
    <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c48a.png" width="90" height="60" class="d-inline-block align-top" alt="">
  </a>
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="lrseries">LR Series</a></li>
  <li><a href="oneten">90-110</a></li>
  <li><a href="defender">Defender</a></li>
</ul>
</nav>

<center>
<h2>300Tdi</h2>

<div class="card">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Land_Rover_300Tdi_engine.JPG/1280px-Land_Rover_300Tdi_engine.JPG" alt="Avatar" style="width: 70%;">
  <div class="container">
    <h4><b>1994-2006</b></h4>
    <p>Layout: 4 cylinder, in-line</p>
    <p>Block/head: cast iron</p>
    <p>Valves: OHV, chain drive camshaft, push-rod operated</p>
    <p>capacity: 2,495 cc</p>
    <p>Bore: 90.47 mm x 97 mm</p>
    <p>Power: 111 hp</p>
    <p>Torque: 195 lbf-ft (264 N-m)</p>
    <p>Production: 1994-2006</p>

</div>
</div>
</center>

