<!doctype html>
<html>
<head>
<link rel="icon" href="static/favicon-256.png" sizes="16x16" type="image/png">
<title> Landrover Engine Guide</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> 
</head>
<body>
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
   <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c48a.png"  width="90" height="60" class="d-inline-block align-top" alt="">
  </a>
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="lrseries">LR Series</a></li>
  <li><a href="oneten">90-110</a></li>
  <li><a href="defender">Defender</a></li>
</ul>

</nav>
<br>
<br>
<br>
<br>
<center>
<h1> Welcome to the Landrover Series-Defender engine guide </h1>
<br>
<h2> On this site you will find all the basic information on the engines of the landrover defender models </h2>
<br><br><br>
<h2> you can also filter by engine type </h2>
<br>
<h2><a href="diesel">Diesel</a>｜<a href="petrol">Petrol</a></h2>
</center>
</body>
</html>
