<html>
<head>
<title> Landrover series 2.25 diesel</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
<head>
<body>
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="home">
    <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c48a.png" width="90" height="60" class="d-inline-block align-top" alt="">
  </a>
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="lrseries">LR Series</a></li>
  <li><a href="oneten">90-110</a></li>
  <li><a href="defender">Defender</a></li>
</ul>
</nav>

<center>
<h2>2.25 diesel</h2>

<div class="card">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/LandRover_2.25P_5brg.JPG/1280px-LandRover_2.25P_5brg.JPG" alt="Avatar" style="width: 70%;">
  <div class="container">
    <h4><b>1958-1985</b></h4>
    <p>Layout: 4 cylinder, in-line</p>
    <p>Block/head: cast iron</p>
    <p>Valves: OHV, chain drive camshaft, push-rod operated</p>
    <p>capacity: 2,286 cc</p>
    <p>Bore: 90.47 mm x 88.9 mm</p>
    <p>Power: 62 hp</p>
    <p>Torque: 103 lbf-ft (140 N-m)</p>
    <p>Production: 1962-1984</p>







</div>
</div>
</center>

